name: PHPUnit
on:
  - push
  - pull_request
jobs:
    phpunit:
        runs-on: ubuntu-latest
        name: PHPUnit
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Composer dependencies
              uses: php-actions/composer@v5
              with:
                  command: update
            - name: Generate report
              uses: docker://ghcr.io/mileschou/xdebug:8.0
              env:
                XDEBUG_MODE: coverage
              with:
                args: vendor/bin/phpunit -c phpunit.xml.dist --coverage-clover coverage.xml
            - name: Export to codecov
              uses: codecov/codecov-action@v2.0.1
              with:
                  fail_ci_if_error: true
                  files: ./coverage.xml
